.count {
	font-size: 2em;
	display: inline-block;
	min-width: 1.2em;
	text-align: center;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid black;
	border-radius: 0.2em;
}

nav {
	margin-top: 2em;
	border-top: 1px solid #ccc;
	padding-top: 1em;
}

nav ol {
	margin-top: 0;
}

.btns button {
	margin: 0.5em;
	padding: 0.4em 0.7em;
	font-size: 1em;
	border: 1px solid black;
	border-radius: 0.3em;
	background-color: #f0f0f0;
}
.btns button:focus {
	font-weight: bold;
}
.btns button:hover {
	background-color: #ffffff;
}
.btns button:active {
	background-color: #ccc;
}

.msg {
	font-size: 1.1em;
}
